{% extends "admin/change_form.html" %}
{% block inline_field_sets %}

<fieldset class="module aligned">
  <h2>Pictures</h2>
  
  <div class="form-row field-name">
      <div>
          <div class="flex-container">
              <label for="id_photos_multiple">Ajout en masse&nbsp;:</label>
              <input name="photos_multiple" type="file" multiple id="id_photos_multiple" />
          </div>
      </div>
  </div>
</fieldset>

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

