{% extends "umap/content.html" %}

{% load galerie_tags i18n thumbnail %}

{% block header %}
<header class="wrapper row">
    <nav class="umap-nav">
      <section>
        {% include "umap/branding.html" %}
      </section>
      <section>
        <ul>
            <li>
              <a href="{% url 'galerie:index' %}">Points</a>
            </li>
            <li>
              <a href="{% url 'galerie:orphelines' %}">Orphelines</a>
            </li>
        </ul>
      </section>
    </nav>
</header>
{% endblock header %}

{% block content %}
<main class="wrapper">
  <div class="row">
    <p><a href="{% url 'galerie:index' %}">← Retour</a></p>
    <section class="galerie_layerpoint-detail">
        <h1>Point : <mark>{{ object.pk }}</mark></h1>

        {% if user.is_authenticated %}
            <a target="_blank" class="admin_link" href="{% url 'admin:galerie_layerpoint_change' object.pk %}">Admin</a>
        {% endif %}

        <div class="point_thumbmap">
            <a href="{{ object.permalink | default:'#' }}" class="point_link">
                <img src="{{ object.get_thumbmap }}" alt="" />
            </a>
        </div>
        
        <div class="point_content">
            <p class="point_info">
                <span>
                    {{ object.layer | default:"Pas de calque" }},
                    <date>{{ object.date | default:"Pas de date" }}</date>
                </span><br>

                <code>{{ object.json_data.geometry.coordinates }}</code>
            </p>

            <dl class="point_content">
                {% if object.json_data.properties.name %}
                    <dt>name :</dt>
                    <dd>{{ object.json_data.properties.name }}</dd>
                {% endif %}

                {% if object.json_data.properties.description %}
                    <dt>description :</dt>
                    <dd>{{ object.json_data.properties.description | convert_links }}</dd>
                {% endif %}
            </dl>
        </div>
    </section>

    {% if object.picture_set.count > 0 %}
    <hr>

    <ul class="galerie_picture-list">
    {% for picture in object.picture_set.all %}
        <li class="galerie_picture">
            <a target="_blank" href="{{ picture.file.url }}">
                {% thumbnail picture.file "300x300" crop="center" as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}
                <span class="date">{{ picture.datetime }}</span>
            </a>
            {% if user.is_authenticated %}
                <a target="_blank" class="admin_link" href="{% url 'admin:galerie_picture_change' picture.uuid %}">Admin</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>
</main>
{% endblock content %}
